.blur {
    transition: .5s;
    cursor: pointer;
    filter: brightness(1.3);
}

.blur:hover {
    filter: brightness(1.1);
    transform: scale(1.02);
}
.trans:hover {
    transform: scale(1.04);
    transition: .6s;
    cursor: pointer;
}